doctype html
html
  head
    link(rel="stylesheet", href="./node_modules/ng-admin/build/ng-admin.min.css")
    script(src="./node_modules/ng-admin/build/ng-admin.min.js")
    script(src="./index.js")
  body(ng-app="myApp")
   hr    
   div(ui-view)
   hr
